<?php
return [
    'DEV_MODE' => true,

    'BASEPATH' => '/',
    'ROOTPATH' => dirname(__DIR__),

    'DEFAULT_ACTION' => 'index',

    'DEFAULT_TITLE' => '',
    'DEFAULT_LAYOUT' => 'default',

    'DB_NAME' => '',
    'DB_USER' => '',
    'DB_PASSWORD' => '',
    'DB_HOST' => '',

    'defaultRoute' => [
        'controller' => 'pages',
        'action' => 'home'
    ],

    'plugins' => [],
];

