<?php
/** Configuration Variables **/
define('DEV_MODE',true);

define('BASEPATH','/');
define('ROOTPATH',dirname(__DIR__));

define('DEFAULT_ACTION','index');
define('DEFAULT_TITLE','');
define('DEFAULT_LAYOUT','default');

define('DB_NAME', '');
define('DB_USER', '');
define('DB_PASSWORD', '');
define('DB_HOST', '');

const defaultRoute = [
    'controller' => 'pages',
    'action' => 'home'
];

const plugins = [];
